@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');

// $icon-font-path:'~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';

.log-in{
    position: absolute; 
    margin:auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    padding: 150px 0 0 0;
    
}